
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400);

html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'nimbus-sans', 'Helvetica Neue', arial, sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.602em;
}

h2 {font-size: 1.424em;}

h3 {font-size: 1.266em;}

h4 {font-size: 1.125em;}

small, .font_small {font-size: 0.889em;}

.logo { font-weight: 700; }


/* layout */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #536DFE;
}

.brand {
  display: block;
  background-image: url(../images/minigrid-logo.svg);
  background-repeat: no-repeat;
  background-position: center 0px;
  padding-top: 1.8em;
  background-size: 24px;
}

.info-bar {
  padding: 20px 12px;
  border-bottom: solid 1px #CFD8DC;
}

.foo {
  margin-top: calc(1.414em * 4);
  border-bottom: 0;
  border-top: solid 1px #CFD8DC;
}

.info-bar a {
  border-bottom: 0;
}

.info-bar .link {
  vertical-align: middle;
  display: inline-block;
  margin-right: 1em;
}

.info-bar .madeby {
  float: right;
  display: inline-block;
}

.hero {
  width: 100%;
  padding: calc(1.414em * 4) 0;
  text-align: center;
}

.content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px;
}

h1 {
  font-weight: 600;
}

h1 a {
  border-bottom: 0;
}

.hljs {
  font-family: 'Source Code Pro', serif;
  font-size: 0.83em;
  font-weight: 400;
}

.copyright {
  padding: 50px 0;
}

.octocat-button {
  margin-top: 1em;
}

.octocat-button a {
  border-bottom: 0;
}

.icon-arrow {
  display: inline-block;
  margin-left: 2px;
  vertical-align: -1px;
}


.icon-headline {
  text-align: center;
  padding: calc(1.414em * 2) 0;
  background-repeat: no-repeat;
  background-position: center calc(1.614em);
}

.icon-headline.install {
  background-image: url(../images/icon-install.svg);
}

.icon-headline.usage {
  background-image: url(../images/icon-usage.svg);
}

.icon-headline.responsive {
  background-image: url(../images/icon-responsive.svg);
}

.icon-headline.animation {
  background-image: url(../images/icon-animation.svg);
}

.icon-headline.more {
  background-image: url(../images/icon-more.svg);
}